@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);

html body{
    font-family: 'Roboto Slab', serif;
    background: #F6F4F1;
    height: 100%;
    width: 100%;
    font-weight: 400;
}

.hideMobile{
    display: none;
}

.main{
    background: #fff;
}

/*Main Page*/
header{
    height: 300px;
}

.langs, .presentetion, .logo{
    padding: 3% 3%;
    background: #fff;
}

.langs{
    height: 100%;
    color: #2f4155;
    text-decoration: underline;
}

.langs img{
    width: 80%;
}

.btnLang{
    background: none;
    border-radius: 0;
    padding: 5px 5px;
    border: none;
    color: #2f4155;
    text-decoration: underline;
    font-size: 20px;
}

.langs .activeBtnLang{
    border: 1px solid #2f4155;
}

.presentetion{ 
    height: 100%;
    width: 100%;
    background: #fff;
}

.presentetion a{
    color: #a2bad2;
    text-decoration: underline;
    font-size: 18px;
}

.presentetion a:hover{
    text-decoration: none;
}

.logo{
    height: 100%
}

.logo img{
    margin: 41px auto;
    width: 100%;
}

body .row{
    text-align: center;
    width: 100%;
    margin: 0;
}

.welcomeMessage div{
    height: 150px;
}

.welcomeMessage div h4{
    color: #2f4155;
    font-family: 'Roboto Slab', serif;
    text-align: left;
}

.welcomeMessage div p{
    color: #61b6db;  
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 1em;
}

.welcomeMessage .col-xs-8, .col-md-3{
    background: #fff;
    padding: 1% 2%;
    padding-left: 5%;
}

.menu{
    background: #fff;
    padding: 0 10px;
}

.menu .col-xs-4, .menu .col-xs-8{
    font-family: 'Roboto Slab', serif;
    text-align: left;
    padding: 0 0;
    z-index: 3;
}

.menu .col-xs-4 a{
    color: #fff;
    font-weight: 600;
}

.menu .col-xs-4 a:hover{
    text-decoration: none;
}

.bigLetters{
    font-size: 26px;
    text-decoration: none;
}

a .smallLetters{
    text-decoration: underline;
}

.aboutUs, .ourAchievements, .zno, .contacts{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 10px;
    height: 250px;
    padding-top: 180px;
}

.zno{
    padding-top: 100px; 
}

.aboutUsMenu, .ourAchievementsMenu, .znoMenu, .contactsMenu{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    height: 250px;
    text-align: left;
}

.aboutUs, .aboutUsMenu, .aboutUsI{
   background: #92a7c4; 
}

.ourAchievements, .ourAchievementsMenu, .ourAchievementsI{
    background: #ec6603;
}

.zno, .znoMenu, .znoI{
    background: #0ba1d6;
}

.contacts, .contactsMenu, .contactsI{
    background: #2d4859;
}

.welcomeMessageDesktop{
    display: none;
}

.acquaintance, .planning, .learn, .share{
    height: 250px;
          -webkit-transform: skewY(26deg); 
	        -moz-transform: skewY(26deg); 
	            -ms-transform: skewY(26deg); 
	                -o-transform: skewY(26deg);
	transform: skewY(26deg);
    z-index: 2;
}

.acquaintance{
    background: #92a7c4;
    background-size: cover;
}

.planning{
    background: #ec6603; 
    background-size: cover;  
}

.learn{
    background: #61b6db;
    background-size: cover;  
}

.share{
    background: #2f4155;
    background-size: cover;  
}

 .hideMobile div div p{
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}

.hideMobile div div{
    padding: 100px 30px;
    transform: skewY(-26deg);
        -webkit-transform: skewY(-26deg); 
	        -moz-transform: skewY(-26deg); 
	            -ms-transform: skewY(-26deg); 
	                -o-transform: skewY(-26deg);
    color: #fff;
    font-weight: 700;
    opacity: 0;
}

.hideMobile div img{
    transform: skewY(-26deg);
        -webkit-transform: skewY(-26deg); 
	        -moz-transform: skewY(-26deg); 
	            -ms-transform: skewY(-26deg); 
	                -o-transform: skewY(-26deg);
    height: 75px;
    margin: 80px auto;
    opacity: 1;
}

.col-xs-8 a:hover{
    text-decoration: none;
}

.col-xs-8 div div a{
    width: 100%;
    height: 50%;
    color: #fff;
}

.col-xs-8 div div a h3{
    margin-top: 30px;
}

.col-xs-8 div div a p{
    margin-left: 50px;
    text-decoration: underline;
}

footer .col-xs-4, .col-xs-8{
    height: 300px;
    background: #fff;
    padding-top: 30px;
}

footer .col-xs-4 img{
    height: 100px;
}

.row .col-xs-6 p{
    font-family: 'Roboto Slab', serif;
    background: none;
    text-align: left;
    color: #73777a;
    border-radius: 0;
    font-size: 77%;
}

/*About Us*/

.information .col-md-9{
    height: 1000px;
    padding: 0;
    color:  #2f4155;
    margin-top: -1px;
}

.information .col-md-9 p{
    text-align: left;
    padding: 10px 20px;
}

.information .informationMenu{
    font-family: 'Roboto Slab', serif;
    text-align: left;
    padding: 0 0;
    z-index: 3;
}

.informationMenu a{
    color: #fff;
    text-align: left;
}

.informationMenu{
    background: #fff;
}

.informationMenu a:hover{
    color: #fff;
    text-decoration: none;
}

.aboutUsI, .ourAchievementsI, .znoI, .contactsI{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
    height: 250px;
}

.informationMenu .row .col-md-10{
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 180px;
}

.information .informationMenu .znoI .col-md-10{
    padding-top: 70px;
}

.informationMenu .row .col-md-2{
    opacity: 1;
    background: none;
    color: #fff;
    margin: 85px 0;
    
}

.informationMenu .row .col-md-2:hover{
    cursor: pointer;
    opacity: 0.5;
}

.drop{
    width: 400px;
    margin-left: 240px;
    margin-top: -250px;
    opacity: 1;
    display: none;
}

.drop a{
      position: static;  
}

/*Departments*/

.main .information .wonderfulMoment{
    height: 2450px;
    padding: 30px 45px;
}

.table div{
    padding: 0;
    margin: 0;
    height: 80px;
    border-bottom: 2px solid #2f4155;
}

.art div{
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: left;
}

.art img{
    height: 270px;
    margin-top: 5px;
}

.artAddress{
    margin-top: 150px;
    border: 3px solid #92a7c4;
}

.wonderfulMoment .artAddress p{
    text-align: center;
}

@media (min-width: 992px){
    body{
        padding: auto auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .main{
        max-width: 975px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    
    .hideMobile{
        display: inline;
    }
    
    .aboutUsMenu, .ourAchievementsMenu, .znoMenu, .contactsMenu{
        height: 250px;
    }
    
    header{
        background: #fff;
    }
    
    .langs, .presentetion, .logo{
        padding: 30px 0;
    }
    
    .welcomeMessage{
        display: none;
    }
    
    .welcomeMessageDesktop{
        display: inline;
    }
    
    .welcomeMessageDesktop h4{
        margin-left: 30px;
        color: #2f4155;
        font-family: 'Roboto Slab', serif;
        text-align: left;
        font-size: 20px;
    }

    .welcomeMessageDesktop p{
        color: #61b6db;  
        font-family: 'Roboto Slab', serif;
        text-align: left;
        font-size: 0.9em;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 15px;
        width: 455px;
    }
    
    .menu{
        padding: 0 0px;
    }
    
    .menu .col-xs-8{
        background: #fff;
        padding-top: 0px; 
        padding-bottom: 60px;
    }
    
    .menu .hideMobile{
        background: #fff;
        padding: 0;
        padding-top: 60px;
        z-index: 3;
    }
    
    .zno{
        padding-top: 80px;
    }
    
    footer .col-md-6{
        padding-top: 50px;
    }
    
    footer .col-md-6 img{
        margin-top: 20px;
    }
}