@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);

html body{
    font-family: 'Roboto Slab', serif;
    background: #F6F4F1;
    height: 100%;
    width: 100%;
    font-weight: 400;
}

.hideMobile{
    display: none;
}

.main{
    background: #fff;
}

/*Main Page*/
header{
    height: 300px;
}

.welcomeMessage, .logo{
    padding: 3% 3%;
    background: #fff;
    height: 300px
}

.logo{
    height: 100%
}

.logo img{
    margin: 0px auto;
    width: 100%;
}

body .row{
    text-align: center;
    width: 100%;
    margin: 0;
}

.welcomeMessage{
    height: 200px
}

.welcomeMessage h4{
    color: #2f4155;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin-left: 70px;
}

.welcomeMessage p{
    color: #61b6db;  
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 1em;
    width: 70%;
    margin-left: 70px;
}

.menu{
    background: #2f4155;
    padding: 0 10px;
}

.menu a{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.menu a:hover{
    text-decoration: none;
}

.menu .nav{
    margin-top: -100px;
}

.menu .nav li a{
    border-radius: 0;
}

.col-xs-8 div div a{
    width: 100%;
    height: 50%;
    color: #fff;
}

.col-xs-8 div div a h3{
    margin-top: 30px;
}

.col-xs-8 div div a p{
    margin-left: 50px;
    text-decoration: underline;
}

footer .col-xs-4, .col-xs-8{
    height: 300px;
    background: #fff;
    padding-top: 30px;
}

footer .col-xs-4 img{
    height: 100px;
}

.row .col-xs-6 p{
    font-family: 'Roboto Slab', serif;
    background: none;
    text-align: left;
    color: #73777a;
    border-radius: 0;
    font-size: 77%;
}

.information{
    height: 100%;
    padding: 20px 40px;;
    color:  #2f4155;
    margin-top: -1px;
}

.information h1, .information h3{
    text-align: center;
}

.information p{
    text-align: left;
    padding: 10px 20px;
}

.col-md-4 .carousel .carousel-inner .item img{
    height: 350px;
}

.table div{
    padding: 0;
    margin: 0;
    height: 80px;
    border-bottom: 2px solid #2f4155;
}

.art div{
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: left;
}

.art img{
    height: 270px;
    margin-top: 5px;
}

.art i{
    color: #2f4155;
    font-size: 20px;
}

.artAddress{
    margin-top: 150px;
    border: 3px solid #92a7c4;
}

.information .col-md-9 .artAddress p{
    text-align: center;
}

/*Our Achievements*/

.row .col-sm-4 .carousel .carousel-control{
    width: 10%;
    height: 100%;
    background: none;
    color: #2f4155;
}

.carousel .carousel-inner .item img{
    margin: auto auto;
}

/*Contatcs*/

iframe{
    width: 600px;
    height: 250px;
}

.fa-4x{
    color: #2f4155;
    margin: 0 20px;
}

@media (min-width: 992px){
    body{
        padding: auto auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .main{
        max-width: 975px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    
    .hideMobile{
        display: inline;
    }
    
    header{
        background: #fff;
        height: 200px;
    }
    
    .logo{
        padding: 30px 0;
    }
    
    .main .menu{
        padding: 0 0px;
    }
    
    footer .col-md-6{
        padding-top: 50px;
    }
    
    footer .col-md-6 img{
        margin-top: 20px;
    }
    
    .informationMenu .drop{
        margin-left: 244px;
    }
    
    iframe{
        width: 600px;
    }
}